<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/jobsearchapp_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KodegoJobSearchApp"
        tools:targetApi="31">
        <activity
            android:name=".ApplicantSearchActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeProfileDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ChangeProfilePictureActivity"
            android:exported="false" />
        <activity
            android:name=".UploadCoverLetterActivity"
            android:exported="false" />
        <activity
            android:name=".employer_viewpager.EmployerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".applicant_viewpager.ApplicantViewPagerActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SignInActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
    </application>

</manifest>